<div class="auth-wrapper">
  <div class="pro-login-card animate-fade">
    <div class="auth-header">
      <div class="pro-square-logo"></div>
      <h1>SkillUp</h1>
    </div>
    
    <div class="auth-form">
      <!-- Username -->
      <div class="input-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="credentials.username" placeholder="Enter your username">
      </div>
      
      <!-- Password -->
      <div class="input-group mt-3">
        <label>Password</label>
        <input type="password" [(ngModel)]="credentials.password" placeholder="Enter your password">
      </div>

      <button (click)="onLogin()" class="btn-login-pro mt-5">Sign In</button>
      
      <div class="auth-footer mt-5">
        <p>Don't have an account?</p>
        <a routerLink="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>